{{!-- create form for new post, title and body --}}

<div class="col-md-6">
    <h2>Create a new post</h2>

    <form class="form new-post-form">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-input" type="text" id="title" />
        </div>
        <div class="form-group">
            <label for="body">Content of your post:</label>
            <textarea class="form-input" type="password" id="body"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">add my post</button>
        </div>
    </form>
</div>


<script src="/js/add-post.js"></script>